.root {
  position: relative;
  min-height: 100%;
  isolation: isolate;
}

.backdrop {
  position: fixed;
  z-index: 0;
  inset: 0;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  min-height: 100%;
}
